.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 27%;
    row-gap: 1.7vh;
}
.imageContainer{
    width: 10vh;
    height: 10vh
}
.imageContainer img{
    height: 10vh;
    width: 10vh;
    object-fit: contain;
}
.primaryText{
    font-size: 1rem;
    color: white;
}
.secondaryText{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
}
.secondaryText img {
    height: 10vh;
    width: 10vh;
    object-fit: contain;
    margin-top: -2.7vh;
}